
h3 {
    color: blue
}

.title {
    color: #ffffff;
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 1.236;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.title-1 {
    color: #4f7ad1;
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.236;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.title-2 {
    color: #FFF;
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 1.236;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.title-3 {
    color: #FFF;
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.236;
    letter-spacing: -0.03rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.p-name {
    color: #297fcf;
    font-family: "Chivo", sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1.217;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.p-price {
    color: #4f3da8;
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.217;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

/*
    LogIn
*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
   font-weight: 400;
}

.form-signin .form-control {
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
}

.form-signin .form-control:focus {
   z-index: 2;
}

.form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}
.sub-title {
    padding-left: 20px;
}
