﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pedigree</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="layout"></div>
    <script type="text/javascript">
        var urlIndex = '@Url.Action("Index")';
        var urlRegister = '@Url.Action("Register")';
        var urlStoreLocation = '@Url.Action("StoreLocation")';
        var urlLogin = '@Url.Action("Login")';
        var urlDateTime = "@DateTime.Now.Year";
    </script>
    @RenderBody()
    <div id="footer"></div>
    <script src="~/Scripts/dist/Home/react/_layout.js"></script>
    <script src="~/Scripts/dist/Home/react/footer.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
