﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pedigree</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="layout_member"></div>
    <script type="text/javascript">
        var urlIndex = '@Url.Action("Index")';
        var urlPedigreeShop = '@Url.Action("PedigreeShop")';
        var urlOrderList = '@Url.Action("OrderList")';
        var urlStoreLocation = '@Url.Action("StoreLocation")';
        var urlLogout = '@Url.Action("Logout")';
        var urlDateTime = "@DateTime.Now.Year";
    </script>
    <div class="container body-content">
        @RenderBody()
        <div id="footer"></div>
    </div>
    <script src="~/Scripts/dist/Home/react/_layoutMember.js"></script>
    <script src="~/Scripts/dist/Home/react/footer.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
