﻿
<form action="@Url.Action("Login")" method="post">
    <div class="form-horizontal">
        <div id="loginName"></div>
        @ViewBag.Message
    </div>
    <script src="~/Scripts/dist/Home/react/login.js"></script>
</form>