﻿
<div id="title"></div>
<div id="OrderList">OrderList</div>
<script src="~/Scripts/dist/Home/react/OrderList.js"></script>
<script id="__bs_script__">
    //<![CDATA[
    document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
//]]></script>
