﻿
<div id="title"></div>
<div id="PedigreeList"></div>


<form action="@Url.Action("PedigreeShop")" method="post">
    <div class="form-horizontal">
        <div id="PedigreeForm">PedigreeForm</div>
    </div>
</form>

@*<script type="text/javascript">
    var urlOrderList = '@Url.Action("OrderList")';
</script>*@
<script src="~/Scripts/dist/Home/react/PedigreeShop.js"></script>

<script id="__bs_script__">
    //<![CDATA[
    document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
    //]]></script>