﻿@model PrePedigree.Models.tMember

@{
    ViewBag.Title = "Member Register";
}

<h2>Member Register</h2>

<form action="@Url.Action(" register")" method="post">
    <div class="form-horizontal">
        <hr />
        <div id="Register"></div>
        @ViewBag.Message
    </div>
    <script src="~/Scripts/dist/Home/react/Register.js"></script>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
