﻿
@{
    ViewBag.Title = "StoreLocation";
}

<h2>Store Location</h2>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyXyrzhBUUG6XVjzoN7b0KblwLc3-8hc&sensor=false&libraries=places,weather"></script>

<div id="react"></div>
<script src="~/Scripts/dist/Home/react/StoreLocation.js"></script>

